-var logolink = {name:'Hola Bootstrap!', url:'#'}
-var links = [{name:'SERVICES', url:'#'},{name:'PORTFOLIO', url:'#'},{name:'ABOUT', url:'#'},{name:'TEAM', url:'#'},{name:'CONTACT', url:'#'}]
-var sectionsubtit = "Lorem ipsum dolor sit amet consectetur"
-var footerlinks = [{name:'Privacy Policy', url:'#'},{name:'Terms of use', url:'#'}]

-var textlorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui a, iusto impedit odit molestiae. Commodi mollitia quo non, esse expedita iste voluptatum illo reiciendis, praesentium, rem, labore fugit. Consequatur, pariatur."