-var logolink = {name:'Start Bootstrap', url:'#header'}
-var links = [{name:'SERVICES', url:'#services'},{name:'PORTFOLIO', url:'#portfolio'},{name:'ABOUT', url:'#about'},{name:'TEAM', url:'#team'},{name:'CONTACT', url:'#contactus'}]
-var sectionsubtit = "Lorem ipsum dolor sit amet consectetur"
-var footerlinks = [{name:'Privacy Policy', url:'#'},{name:'Terms of use', url:'#'}]

-var textlorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui a, iusto impedit odit molestiae. Commodi mollitia quo non, esse expedita iste voluptatum illo reiciendis, praesentium, rem, labore fugit. Consequatur, pariatur."