section#about.text-center
	h2 ABOUT US
	span.subtit Lorem ipsum dolor sit amet consectetur
	.container 
		+timelineleft('img/about/1.jpg', '2009-2011', 'Our Humble Beginnings')
		+timelineright('img/about/2.jpg', 'MARCH 2011', 'An Agency is Born')
		+timelineleft('img/about/3.jpg', 'DECEMBER 2012', 'Transition to Full Service')
		+timelineright('img/about/4.jpg', 'JULY 2014', 'Phase Two Expansion')

