section#contactus.text-center
	h2 CONTACT US
	span.subtit Lorem ipsum dolor sit amet consectetur
	.container
		.row
			.col-md-6
				form
					+input('YOUR NAME *')
					+input('YOUR EMAIL *')
					+input('YOUR NAME *')
			.col-md-6
				+textarea()
		.btn.btn-yellow
			| SEND MESSAGE