footer.text-center
	.container
		.row
			.col-md-4
				p Copyright © Your Website 2014
			.col-md-4
				+social()
			.col-md-4
				ul
					+footerlinks("Privacy Policy")
					+footerlinks("Terns of Use")