//- HEADER
header#header
	navid#mainNav.navbar.navbar-fixed-top(role="navigation")
		.container
			+navbar-fixed-top(logolink, links)
	.text-center
		span Welcome To Our Studio!
		h1 IT'S NICE TO MEET YOU
		.btn.btn-yellow
			| TELL ME MORE