section#portfolio.text-center
	h2 PORTFOLIO
	span.subtit Lorem ipsum dolor sit amet consectetur
	.container
		.row.mt-5
			+portfoliolist('bg1', 'Round Icons', 'Graphic Design')
			+portfoliolist('bg2', 'Startup Framework', 'Website Design')
			+portfoliolist('bg3', 'Treehouse', 'Website Design')
		.row.mt-5
			+portfoliolist('bg4', 'Golden', 'Website Design')
			+portfoliolist('bg5', 'Escape', 'Website Design')
			+portfoliolist('bg6', 'Dreams', 'Website Design')