section#services.text-center
	h2 SERVICES
	span.subtit Lorem ipsum dolor sit amet consectetur
	.container.mt-5
		.row
			+list-service('comerce','E-Commerce')
			+list-service('responsive','Responsive Design')
			+list-service('web', 'Web Security')