section#team.text-center
	h2 OUR AMAZING TEAM
	span.subtit Lorem ipsum dolor sit amet consectetur
	.container 
		.row
			+team('person1', 'Kay Garland', 'Designer')
			+team('person2', 'Larry Parker', 'Marketer')
			+team('person3', 'Diana Pertersen', 'Developer')
		p= textlorem
		
//- SECTION LOGOS
section#logos.text-center
	.container
		.row
			+logos('envato')
			+logos('designmodo')
			+logos('themeforest')
			+logos('creative-market')
