body {
  color: #777777;
  font-family: "Roboto Slab", "Roboto", Arial, sans-serif!important; }

section {
  padding: 12% 0; }
  section h2 {
    color: #303333;
    font: bold 2.5em "Montserrat", "Roboto", Arial, sans-serif!important; }
  section .subtit {
    color: #777777;
    font: italic 1em "Droid Serif", "Roboto", Arial, sans-serif!important; }
  section h3 {
    color: #303333;
    font: bold 1.3em "Montserrat", "Roboto", Arial, sans-serif!important; }

.btn-yellow {
  background-color: #FED136;
  padding: 20px 40px;
  font: 1.2em "Montserrat", "Roboto", Arial, sans-serif!important;
  margin-top: 30px; }

.social-media a.social-circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #303333;
  color: white;
  font-size: 1em;
  position: relative;
  display: inline-block;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  vertical-align: middle; }

/* HEADER */
header {
  background: url("../../img/header-bg.jpg") 12% 30% fixed;
  color: #FFFFFF;
  padding: 16% 0; }
  header .navbar .navbar-brand {
    color: #FED136;
    font: 2em "Kaushan Script", "Roboto", Arial, sans-serif!important; }
  header .navbar ul {
    margin-top: 1.1%; }
    header .navbar ul li a {
      color: #FFFFFF;
      font: 1em "Montserrat", "Roboto", Arial, sans-serif!important; }
  header .text-center span {
    font: italic 2.5em "Droid Serif", "Roboto", Arial, sans-serif!important; }
  header .text-center h1 {
    font: bold 5em "Montserrat", "Roboto", Arial, sans-serif!important; }

.nav-transparent {
  -webkit-transition: all 0.4 ease-out;
  -moz-transition: all 0.4 ease-out;
  -o-transition: all 0.4 ease-out;
  transition: all 0.4 ease-out;
  background-color: transparent; }
  .nav-transparent h1 {
    color: #FFFFFF;
    -webkit-text-shadow: 2px 3px 6px #9a7801;
    -moz-text-shadow: 2px 3px 6px #9a7801;
    text-shadow: 2px 3px 6px #9a7801; }
    .nav-transparent h1 span {
      -webkit-text-shadow: 2px 3px 6px #9a7801;
      -moz-text-shadow: 2px 3px 6px #9a7801;
      text-shadow: 2px 3px 6px #9a7801; }
  .nav-transparent header .navbar ul {
    padding-top: 50px; }
    .nav-transparent header .navbar ul li a {
      color: #FFFFFF; }
      .nav-transparent header .navbar ul li a:hover {
        background-color: #FFFFFF;
        color: #FED136; }
      .nav-transparent header .navbar ul li a.active {
        color: #FFFFFF; }

.nav-black {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-color: #303333; }

.socialcircle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #FED136;
  color: white;
  font-size: 4em;
  position: relative;
  display: inline-block;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  vertical-align: middle; }

.bgwhite {
  background-color: #FFFFFF;
  padding: 5% 0; }
  .bgwhite h3 {
    margin-top: 0; }

#about img {
  width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 6px solid #F7F7F7; }

#team .container .circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 6px solid #FFFFFF; }
#team p {
  margin: 0 auto;
  width: 65%; }

#logos {
  padding: 5%; }

#contactus h2 {
  color: #FFFFFF; }

form input.form-control {
  font-family: "Montserrat", "Roboto", Arial, sans-serif!important;
  padding-top: 30px;
  padding-bottom: 30px; }

textarea.form-control {
  font-family: "Montserrat", "Roboto", Arial, sans-serif!important;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 215px;
  resize: none; }

footer {
  padding: 3% 0;
  font-family: "Montserrat", "Roboto", Arial, sans-serif!important; }
  footer ul li {
    display: inline-block; }
    footer ul li a {
      color: #FED136; }

#portfolio, #team {
  background-color: #F7F7F7; }

#portfolio img {
  width: 100%; }

#contactus {
  background-color: black;
  color: white; }

/*# sourceMappingURL=main.css.map */
