$black: #303333;
$silver: #F7F7F7;
$darksilver: #777777;
$white: #FFFFFF;
$yellow: #FED136;
$Montserrat: "Montserrat", "Roboto", Arial, sans-serif+!important;
$KaushanScript: "Kaushan Script", "Roboto", Arial, sans-serif+!important;
$RobotoSlab: "Roboto Slab", "Roboto", Arial, sans-serif+!important;
$DroidSerif: "Droid Serif", "Roboto", Arial, sans-serif+!important;

// BREAKPOINTS
$width-small: "screen and (min-width: 320px)";
$width-medium: "screen and (min-width: 320px) and (max-width: 768px)";
$width-large: "screen and (min-width: 768px)";
